[submodule "thirdparty/sglang"]
	path = thirdparty/sglang
	url = https://github.com/jeromeku/sglang
[submodule "thirdparty/megatron"]
	path = thirdparty/megatron
	url = https://github.com/jeromeku/megatron-lm
